*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#8B4513;
}
.header{
    height: 100px;
    width: 94%;
    padding: 15px;
    background-color:#D4AF37;
    margin-top: 20px;
    margin-left: 45px;
    text-align: center;
}
.logo{
    width: 100px;
    float: left;
    margin-top: -15px;

}
.footer{
    height: 50px;
    width: 94%;
    padding: 10px;
    background-color:#D4AF37;
   text-align: center;
   margin-top: 10px;
   margin-left: 45px;
   font-size: 20px;
   color:black;
}
.containt{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
.nav-links{
   padding: 28px 0px;
   float:right ;
}
.nav-links li{
    display: inline-block;
    padding: 10px;
    margin-top: -20px;
    margin-right: 50px;
    font-size: 20px;
    color: ;
}
.image{
    width: 1450px;
    height: 700px;
    margin-top: 20px;
    
}